html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Adelia';
  src: url('fonts/adelia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0;
    font-family: 'Fashion Fetish', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 2.029vw;
}
hr {
    border: none;
    border-top: 0.156vw solid #894531;
    width: 100%;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* ora lo spazio è tra titolo e RSVP */
  height: 4.167vw;
  box-sizing: border-box;
  padding: 1.5em 20px;
}

.title {
  text-align: center;
  flex-grow: 1;
}


#rsvp_link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap; /* evita che si spezzi su più righe */
}

h1{
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
.adelia{
    font-family: 'Adelia', serif;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 3.5vw;
    margin: 1em 0;
}


